@font-face {
    font-family: UVNSachVo;
    src: url(../fonts/UVNSachVo.TTF);
    font-weight: bold;
}

@font-face {
    font-family: Masterplan;
    src: url(../fonts/MASTERPLAN__.ttf);
    font-weight: bold;
}

@font-face {
    font-family: RockwellCondensed;
    src: url(../fonts/ROCC____.TTF);
    font-weight: bold;
}

@font-face {
    font-family: MinionPro;
    src: url(../fonts/MINIONPRO-BOLD.OTF);
    font-weight: bold;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flexbox;
}

.cover {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
}

.taste-text {
    width: 50%;
    margin-top: 30px;
}

.let-taste-text {
    margin-top: 30px;
    font-size: 22px;
    width: 45%;
    text-align: center;
    font-weight: bold;
    font-family: 'UVNSachVo';
    margin-left: 70px;
    color: white;
}

.let-taste-text button {
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 30px;
    width: 28%;
    text-align: center;
    font-family: 'Masterplan';
    font-weight: bold;
    color: rgb(196, 36, 36);
    background: white;
    border: 0px solid #333333;
    border-radius: 4px;
    transition: 0.5s;
    overflow: hidden;
}

.products-cards {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

.product-card {
    width: 24%;
    margin-top: 20px;
    transition: all 0.5s ease;
    font-family: UVNSachVo;
    background-color: white;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 5px #333333;
    justify-content: center;
    margin-right: 2%;
    margin-left: 2%;
}

.product-card img {
    margin-top: 2%;
    margin-left: 2%;
    width: 96%;
    border-radius: 20px;
}

.product-card-title {
    float: left;
    margin-left: 20px;
    font-size: 30px;
    color: #9b2929;
    width: 90%;
    white-space: pre-wrap;
    font-family: 'MinionPro';
    overflow: auto;
    text-overflow: ellipsis;
    height: 50px;
}

#products-cards-hotdog .product-card-title {
    font-size: 30px;
    text-overflow: ellipsis;
    height: 50px;
}

#products-cards-pizza .product-card-title {
    font-size: 28px;
    text-overflow: ellipsis;
    height: 40px;
}

.product-card-description {
    float: left;
    width: 90%;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
    color: #969696;
    margin-bottom: 20px;
}

.product-card-price {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 35px;
    color: #9b2929;
    margin-bottom: 20px;
    display: none;
}

.meat {
    background-image: url("../images/MeatCover.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'Masterplan';
}

.quality-card {
    display: flex;
    margin-bottom: 20px;
}

.icon-quality {
    width: 100px;
    height: 100px;
}

.icon-quality-text {
    margin-top: 25px;
    margin-left: 20px;
}

.blank-space-resize {
    width: 100%; 
    height: 100px;
}

.blank-space {
    width: 100%; 
    height: 100px;
}

.create-pizza {
    background-image: url("../images/Create\ Pizza.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'UVNSachVo';
    font-size: 30px;
    color: white;
}


.quality-card {
    display: flex;
    height: 100px;
    margin-left: 2%;
}

.quality-card ul {
    font-family: ArialRounded;
    font-size: 23px;
    margin-left: 20px;
}

.icon-quality {
    margin-top: 30px;
    width: 100px;
    height: 100px;
}

.icon-quality-text {
    margin-left: 20px;
}

#create-pizza-img {
    width: 50%; display: flex; padding-left: 30px;
}


.gelato-maps {
    display: flex;
    width: 100%;
}

.addresses {
    width: 30%;
    display: inline;
}

.address-card {
    display: block;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px #888888;
    font-family: ArialRounded;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 20px;
}

.maps-container {
    background-image: url(../images/GelatoMaps.png);
    width: 70%;
    background-size: cover;
}

.address-card-text {
    padding-left: 10px;
}

.hover-display {
    opacity: 0;
    width: 20%;
    height: 100px;
}

.hover-display img {
    display: none; 
    width: 500px;
}

.hover-display:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
}

.hover-display:hover img {
    margin-left: 10%;
    display: inline;
}

.blank-space-resize {
    width: 100%; 
    height: 100px;
}

#shop-pct {
    margin-top: 25%; margin-left: 30%;
}

#shop-nth {
    margin-top: 4%; margin-left: 30%;
}

#where-to-taste {
    font-size: 140px; font-family: 'Masterplan'; margin-left: 7vw; color: #ad2f16;
}

#products-cards-hotdog {
    background-image: url("../images/Shape1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.unique-product {
    width: 100%;
    display: flex;
}

.unique-product-title {
    font-size: 140px; 
    font-family: 'Masterplan'; 
    color: #8a210c;
    text-align: center;
}

.unique-product-description {
    font-size: 30px; color: #313131;
}

.top-middle-text {
    margin-top: 20px;
    font-size: 50px; 
    color: #ad2f16;
}

.burger-pizza-card {
    display: inline;
    font-size: 24px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.burger-pizza-card img {
    width: 200px;
    border-radius: 50%;
}

#delicious-text {
    max-height: 500px; width: 30vw; margin-top: 60px; margin-left: 50px;
}

@media screen and (max-width:1150px) {
    #delicious-text {
        max-height: 250px; width: 30vw; margin-top: 30px; margin-left: 30px;
    }

    .create-pizza {
        background-size: contain;
    }

    .fresh-gelato {
        background-size: contain;
    }

    .blank-space {
        height: 150px;
    }
        
    .icon-quality-text {
        margin-top: 0px;
        margin-left: 20px;
    }
        
    .blank-space-resize {
        width: 100%; 
        height: 55px;
    }
    
    .quality-card {
        display: flex;
        height: 70px;
        margin-left: 50px;
    }
    
    .quality-card ul {
        font-family: ArialRounded;
        font-size: 15px;
        margin-left: 20px;
    }
    
    .icon-quality {
        margin-top: 10px;
        width: 60px;
        height: 60px;
    }
    
    .icon-quality-text {
        margin-left: 20px;
        font-size: 27px;
    }

    #fresh-gelato {
        padding-left: 80px;
    }
    #create-pizza-img {
        opacity: 0;
        width: 10%;
    }

    .addresses {
        display: none;
    }

    .gelato-maps {
        width: 100%;
        justify-content: center;
        height: 600px;
    }
    .maps-container {
        width: 100%;
    }

    .hover-display {
        height: 50px;
    }
    #shop-nth {
        margin-top: 6%;
    }
    #where-to-taste {
        font-size: 90px;
    }

    .product-card-title {
        font-size: 24px;
        text-overflow: ellipsis;
    }

    .product-card-description {
        display: none;
    }

    #products-cards-hotdog .product-card-title {
        font-size: 24px;
        text-overflow: ellipsis;
        height: 80px;
    }

    #products-cards-pizza .product-card-title {
        font-size: 24px;
        text-overflow: ellipsis;
        height: 80px;
    }

    .unique-product-title {
        font-size: 120px; 
    }

    .unique-product-title:first-child{
        display: none;
    }
    #meat-text {
        opacity: 0;
    }
    .let-taste-text {
        display: none;
    }
}