@font-face {
    font-family: UVNHongHaHep;
    src: url(../fonts/UVNHongHaHep.TTF);
    font-weight: bold;
}

footer {
    background-image: url("../images/Footer-BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-decoration: none;
}

footer div:first-child {
    padding-right: 10%;
    padding-left: 10%;
}

.link {
    text-decoration: none;
    color: white;
}


@media screen and (max-width:1150px) {
    footer {
        background-image: url("../images/Footer-BG-2.png");
    }
}