@font-face {
    font-family: UVNHongHaHep;
    src: url(../fonts/UVNHongHaHep.TTF);
    font-weight: bold;
}

.burger-navigator {
    display: flex;
}

nav {
    display: flex;
    padding-top: 30px;
}

.main-nav {
    display: flex;
    margin-left: 70px;
    width: 45%;
}
.main-nav li {
    margin-top: 14px;
    list-style: none;
    margin-right: 70px;
	display: flex;
}
.main-nav li:hover {
	margin-top: 1vh;
    list-style: none;
	display: flex;
	text-shadow: 20px 20px 20px 20px #77d3d8;
	transition: all 0.7s ease;
}
.main-nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
	font-size: 22px;
	font-family: 'UVNHongHaHep';
}

#burger-nav {
    margin-left: 91%; 
    width: 70px; 
    margin-top: 2vh; 
    margin-right: 60px; 
    position: fixed; 
    display: none;
}

#navigator-box {
    background-color: rgb(184, 35, 35)fff;
    position: fixed; 
    margin-left: 95%;
    margin-top: 50px;
}

.navigator-box-list {
    display: none;
    margin-top: 50px;
}

.navigator-box-list li {
    font-family: UVNHongHaHep;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: brown;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.navigator-box-list li a {
    text-decoration: none;
    color: white;
}


#flags {
    float: right; width: 50%;
}

@media screen and (max-width:1100px) {
    .main-nav {
        display: none;
    }
    #burger-nav {
        margin-left: 88%;
    }
    #flags {
        float: right; width: 80%;
    }
    #navigator-box {
        margin-top: 50px;
    }
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  