*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* NavBar */
.header {
    background-color: white;
    height: 73px;
	width: 100%;
	position: fixed;
	z-index: 3;
	box-shadow: 3px 3px 10px 3px rgb(92, 15, 15);
}

.logo {
	margin-left: 8vh;
	margin-top: 3px;
    height: 8vh;
	width: 8vh;
	display: none;
}

.ivodeli {
	margin-top: 1vh;
	width: 87vw;
    text-align: center;
    font-size: 47px;
    font-family: 'Lemon', cursive;
}

.ivodeli a {
	color: #9b0d0d;
}


nav {
	min-height: 8vh;
	text-align: center;
}

.main-nav {
    display: flex;
	margin-left: 24%;
    justify-content: space-around;
    width: 47%;
}

.main-nav li {
	margin-top: 2vh;
    list-style: none;
	display: flex;
	font-size: 20px;
}
.main-nav li:last-child {
	margin-top: 0vh;
    list-style: none;
	display: flex;
	font-size: 20px;
}
.main-nav li button {
    background-color: #16787d;
	color: white;
	height: 5vh;
	font-size: 25px;
	display: inline-block;
    margin-top: 1.6vh;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px 40px 12px;
    line-height: 1.42857143;
    border-radius: 30px;
}
.main-nav li:hover {
	margin-top: 1vh;
    list-style: none;
	display: flex;
	text-shadow: 20px 20px 20px 20px #77d3d8;
	transition: all 0.7s ease;
}
.main-nav li:last-child:hover {
	margin-top: -0.0vh;
    list-style: none;
	display: flex;
	transition: all 1s ease;
}
.main-nav a {
    color: #16787d;
    text-decoration: none;
	font-size: 25px;
	font-family: 'Baloo Chettan', cursive;
}
.main-nav li:last-child button:hover {
    background-color: #16787d;
	color: white;
	height: 7vh;
	font-size: 30px;
	display: inline-block;
    margin-top: 1vh;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px 40px 12px;
    line-height: 1.42857143;
    border-radius: 30px;
	transition: all 0.5s ease;
}

.burger {
	display: none;
	margin-right: 3vw;
} 

.burger div {
    width: 40px;
    height: 6px;
    background-color: #16787d;
    margin: 8px;
	transition: all 0.7s ease;
}

footer {
	background-color: rgb(247, 247, 247);
}

@media screen and (max-width:1100px) {
	.header {
		height: 100px;
	}
	.ivodeli {
		color: #16787d;
		margin-top: 1vh;
		font-size: 65px;
	}
    .main-nav {
        width: 30%;
		right: 0;
        height: 30%;
        top: 5.5vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
		position: fixed;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		justify-content: center;
		border-bottom-left-radius: 30px;
    }
	.main-nav li {
		margin-top: 2vh;
		opacity: 0;
		display: block;
	}
	
	.main-nav li:hover {
		margin-top: 2vh;
		margin-right: 4vh;
    	list-style: none;
		display: flex;
		text-shadow: 20px 20px 20px 20px #77d3d8;
		transition: all 1s ease;
	}
	.main-nav li:last-child:hover {
		margin-top: 0vh;
		margin-right: 0vh;
    	list-style: none;
		display: flex;
		text-shadow: 20px 20px 20px 20px #77d3d8;
		transition: all 1s ease;
	}
    .burger {
		position: absolute;
		float: right;
		margin-top: 1vh;
		padding-left: 92%;
        display: block;
    }
    .main-nav li button {
        height: 3vh;
    }
    .main-nav li:last-child button:hover {
        height: 3vh;
	}
}

.nav-active {
	transform: translateX(0%);
	box-shadow: 0px 30px 40px 0px #16787d;
}

@keyframes mainNavFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-17px,12px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-5px);
}